<%= form_with(model: device) do |form| %>
  <% if device.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>
      <ul>
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit class: "button" %>
  </div>
<% end %>