<style>
  body {
    background-color: <%= @form.background_color %>;
    color: <%= @form.text_color %>;
  }
</style>
<meta http-equiv="refresh" content="20; url=<%= public_form_path(@form, @device) %>">

<header>
  <% if @form.header_image.attached? %>
    <%= image_tag url_for(@form.header_image) %>
  <% end %>
</header>

<main>
  <div>
    <% if @form.thank_you_text.present? %>
      <%= markdown(@form.thank_you_text) %>
    <% else %>
      <h1>Thank You</h1>
      <p>Your submission has been received. A credit has been added to the arcade machine.</p>
    <% end %>

    <% if @form.start_over_button_text.present? %>
      <p class="start-over-button">
        <%= link_to @form.start_over_button_text, public_form_path(@form, @device), class: "button strong", style: "background-color: #{@form.button_color}; border-color: #{@form.button_color}; color: #{@form.button_text_color};" %>
      </p>
    <% end %>
  </div>
</main>
