<!DOCTYPE html>
<html>
  <head>
    <title><%= @form.present? ? "Contact Form" : "ESP32 Web Form Trigger" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "mvp" %>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag asset_path("favicon.svg") %>
  </head>
  <body>
    <main class="public-form">
      <%= yield %>
    </main>
  </body>
</html>
